body {
	background: black;
	display: flex;
	height: 100vh;
	padding: 0%;
	margin: 0%;
}
.postcard {
	background-color: white;
	width: 400px;
	margin: auto;
	padding: 15px;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.postcard-body .izquierda{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
}
.postcard-body .derecha{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.postcard-body .derecha input{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin: 5px 0px;
}
.postcard-footer {
	text-align: center;
	padding: 20px 0px;
}
.postcard-footer .boton{
	color: black;
	background-color: gainsboro;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
}